.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 10px;
}

* {
  margin: 0;
}

html,
body,
#root,
.room {
  height: 100%;
  margin: 0;
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}

.on {
  background-color: #282c34;
  color: #fff;
}

/* .off {
  background-color: #111;
  color: #fff;
} */

select {
  padding: 5px;
  margin: 5px;
}
